<!DOCTYPE html>
<html lang="en">
    <!-- description: 
            该方法用来测试计算属性中的methods方法，用来记性在方法中处理数据发生的变化 
    -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>methos语法实现</title>
</head>
<body>
    <div id="root">
        请输入你的姓:<input type="text" v-model="firstName"><br> <!-- 使用v-model指令双向绑定firstName数据 -->
        请输入你的名:<input type="text" v-model="lastName"><br>  <!-- 使用v-model指令双向绑定lastName数据 -->
        全名:
        <!-- methods方法调用之后进行插值
            
            data中的数据发生变化的话，要重新解析和react类似，state一变化页面重新render
        -->
        <span>{{fullName()}}</span>
    </div>

    <script type="text/javascript">
        Vue.config.productionTip = false; // 阻止 vue 在启动时生成生产提示。
        new Vue({ // 创建Vue实例
            el:'#root', // 挂载到id为root的元素上
            data() { // 定义数据
                return {
                    firstName:'张', // 姓
                    lastName:'三' // 名
                }
            },
            methods: {
                fullName(){
                    return `${this.firstName.slice(0,3)} -- ${this.lastName}`
                }
            },
        })

    </script>
</body>
</html>