<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../js/vue.js"></script>
    <title>first vue</title>
</head>
<body>
    <!-- 准备好一个容器 -->
    <div id="app">
        <h1>{{message}}</h1>
        <h2>my name is {{name}}</h2>
        <a v-bind:href="baidu.url">点我跳转到{{baidu.name}}</a><br>

        <input type="radio" v-model="picked" value="One">One 
        <input type="radio" v-model="picked" value="Two">Two

        <p>Picked : {{picked}}</p>

    </div>

<script type="text/javascript">
        new Vue({
            el: '#app',
            picked:'One',
            data: {
                message: 'Hello World!',
                name : 'jay',
                baidu:{
                    url:'http://www.baidu.com',
                    name:'百度',
                }
           }
        
})
    </script>
</body>
</html>